@{
    ViewData["Title"] = "Let's Camp!";
}

<head>
    <link rel="stylesheet" href="~/css/S.css" />
</head>

<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="Cart_LogIn">
            <div>
                <!--<a><img src="~/image/カート画像 (2).jpg" class="cart_img" ></a>-->
            </div>
            <div id="LogIn">
                <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <h5 class="midashi">テント</h5>
        <div class="img">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Tent1"><img src="~/image/テント1.jpg" class="item_img"><p class="item_name">テント1</p></a>
            </div>
            <div><a asp-area="" asp-controller="Home" asp-action="Tent2"><img src="~/image/テント2.jpg" class="item_img"><p class="item_name">テント2</p></a></div>
        </div>
        <br />
        <div class="img">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Tent3"><img src="~/image/テント3.jpg" class="item_img"><p class="item_name">テント3</p></a>
            </div>
            <div><a asp-area="" asp-controller="Home" asp-action="Tent4"><img src="~/image/テント4.jpg" class="item_img"><p class="item_name">テント4</p></a></div>
        </div>

        <h5 class="midashi">チェア</h5>
        <div class="img">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Chair1"><img src="~/image/chair/chair1.jpg" class="item_img"><p class="item_name">チェア1</p></a>
            </div>
            <div><a asp-area="" asp-controller="Home" asp-action="Chair2"><img src="~/image/chair/chair2.jpg" class="item_img"><p class="item_name">チェア2</p></a></div>
        </div>
        <br />
        <div class="img">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Chair3"><img src="~/image/chair/chair3.jpg" class="item_img"><p class="item_name">チェア3</p></a>
            </div>
            <div><a asp-area="" asp-controller="Home" asp-action="Chair4"><img src="~/image/chair/chair4.jpg" class="item_img"><p class="item_name">チェア4</p></a></div>
        </div>

        <h5 class="midashi">シェラフ</h5>
        <div class="img">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Sherahu1"><img src="~/image/sherahu/キャンパーインフレーターマットシングル3.jpg" class="item_img"><p class="item_name">キャンパーインフレーターマットシングル</p></a>
            </div>
            <div><a asp-area="" asp-controller="Home" asp-action="Sherahu2"><img src="~/image/sherahu/コージー２C5.jpg" class="item_img"><p class="item_name">コージー２C5</p></a></div>
        </div>
        <br />
        <div class="img">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Sherahu3"><img src="~/image/sherahu/ダウンプラスニルギリ.jpg" class="item_img"><p class="item_name">ダウンプラスニルギリ</p></a>
            </div>
            <div><a asp-area="" asp-controller="Home" asp-action="Sherahu5"><img src="~/image/sherahu/ブービースリーピングバッグ.jpg" class="item_img"><p class="item_name">ブービースリーピングバッグ</p></a></div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>

</body>