@{
    ViewData["Title"] = "Let's Camp!";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css">
</head>



<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>



    <div class="main">
        <h2>キャンパーインフレーターマットシングル</h2>
        <img src="~/image/sherahu/キャンパーインフレーターマットシングル3.jpg" alt="" width="150" height="150" />
        <p>極厚のフォームで最大10センチの高さを実現。アウトドアとは思えない寝心地で快適な睡眠を。</p>
        <p>部門名: アウトドア</p>
        <p>size:9.7centimeters*198centimeters*68centimeters</p>
        <p>素材:ポリエステル</p>
        <p>発売年・モデルイヤー: 2020</p>
        <p>対象シーズン:通年</p>
        @using (Html.BeginForm())
        {
            <form>
                <input type="hidden" name="ITM" value="商品番号">
                色：
                <select name="VAR1">
                    <option value="レッド">レッド</option>
                    <option value="ブルー">ブルー</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ピンク">ピンク</option>
                </select>
                個数
                <select name="VAR2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <input type="submit" value="カゴへ">
            </form>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>

</body>