@model CampApp.Models.SubscriptionModel;

@{
    ViewData["Title"] = "Let's Camp!";
}


<head>
    <link rel="stylesheet" href="~/css/Style2.css" />
</head>

<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>

    <script>
        function CheckPassword(rePassword) {
            var input1 = password.value;
            var input2 = rePassword.value;
            if (input1 != input2) {
                rePassword.setCustomValidity("パスワードが一致しません。");
            } else {
                rePassword.setCustomValidity("");
            }
        }

        function Change() {
            if (document.getElementById("agree").checked) {
                var submit_btn = document.getElementById("submit-btn");
                submit_btn.disabled = false;
            } else {
                var submit_btn = document.getElementById("submit-btn");
                submit_btn.disabled = true;
            }
        }
    </script>

    <div class="main">
        <h3>会員情報登録</h3>
        <p>
            以下のフォームに必要事項をご入力ください。<br>ログイン時は会員IDをご利用ください。
        </p>
        @using (Html.BeginForm("SubscCheck", "Home"))
        {
            <form>
                <table border="1">
                    <tr><th>名前</th><td><input type="text" name="name" size="30" pattern=".*\S+.*" placeholder="名前" required></td></tr>
                    <tr><th>フリガナ</th><td><input type="text" name="furigana" size="30" pattern="(?=.*?[\u30A1-\u30FC])[\u30A1-\u30FC\s]*" placeholder="フリガナ" required></td></tr>
                    <tr><th>性別</th><td style="text-align:center"><label>男<input type="radio" name="gender" value="男" required>&emsp;&emsp;</label><label>女<input type="radio" name="gender" value="女" required></label></td></tr>
                    <tr><th>生年月日</th><td><input type="date" name="birthday" required></td></tr>
                    <tr><th>会員ID</th><td><input type="text" name="ID" pattern="^([0-9A-Za-z]{6,})$" title="半角英数字6文字以上" placeholder="半角英数字6文字以上" size="30" required></td></tr>
                    <tr><th>パスワード</th><td><input type="password" name="password" id="password" pattern="^([0-9A-Za-z]{8,})$" title="半角英数字8文字以上" placeholder="半角英数字8文字以上" required></td></tr>
                    <tr><th>パスワード（再入力）</th><td><input type="password" name="rePassword" oninput="CheckPassword(this)" pattern="^([0-9A-Za-z]{8,})$" title="半角英数字8文字以上" placeholder="半角英数字8文字以上" required></td></tr>
                    <tr><th>住所</th><td><input type="text" name="address" size="50" pattern="[^０-９]*" title="数字は半角" placeholder="数字は半角" required></td></tr>
                    <tr><th>電話番号</th><td><input type="tel" pattern="\d{2,4}-\d{3,4}-\d{3,4}" title="ハイフン記号あり" placeholder="ハイフン記号あり" name="phonenum" required></td></tr>
                    <tr><th>メールアドレス</th><td><input type="email" name="mail" size="30" required></td></tr>
                </table>

                <br>
                <h3>会員登録および個人情報取扱いについて</h3>
                <div id="box">
                    <p>
                        この利用規約（以下，「本規約」といいます。）は，＿＿＿＿＿（以下，「当社」といいます。）がこのウェブサイト上で提供するオンラインショップ（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。

                        <h5>第1条（適用）</h5>
                        &emsp;1.本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br>
                        &emsp;2.当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下,「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。<br>
                        &emsp;3.本規約の定めが前項の個別規定の定めと矛盾する場合には，個別規定において特段の定めなき限り，個別規定の定めが優先されるものとします。<br>
                        <br>

                        <h5>第2条（利用登録）</h5>
                        &emsp;1.本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれに対する承認を登録希望者に通知することによって，利用登録が完了するものとします。<br>
                        &emsp;2.当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。<br>
                        &emsp;&emsp;1.利用登録の申請に際して虚偽の事項を届け出た場合<br>
                        &emsp;&emsp;2.本規約に違反したことがある者からの申請である場合<br>
                        &emsp;3.その他，当社が利用登録を相当でないと判断した場合<br>
                        <br>

                        <h5>第3条（ユーザーIDおよびパスワードの管理）</h5>
                        &emsp;1.ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを管理するものとします。<br>
                        &emsp;2.ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。<br>
                        &emsp;3.ユーザーID及びパスワードが第三者に使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。<br>
                        <br>

                        <h5>第4条（売買契約）</h5>
                        &emsp;1.本サービスにおいては，ユーザーが当社に対して購入の申し込みをし，これに対して当社が当該申し込みを承諾した旨の通知をすることによって売買契約が成立するものとします。なお，当該商品の所有権は，当社が商品を配送業者に引き渡したときに，ユーザーに移転するものとします。<br>
                        &emsp;2.当社は，ユーザーが以下のいずれかの事由に該当する場合には，当該ユーザーに事前に通知することなく，前項の売買契約を解除することができるものとします。<br>
                        &emsp;&emsp;1.ユーザーが本規約に違反した場合<br>
                        &emsp;&emsp;2.届け先不明や長期の不在のため商品の配送が完了しない場合<br>
                        &emsp;&emsp;3.その他当社とユーザーの信頼関係が損なわれたと認める場合<br>
                        &emsp;3.本サービスに関する決済方法，配送方法，購入の申し込みのキャンセル方法，または返品方法等については，別途当社が定める方法によります。<br>
                        <br>

                        <h5>第5条（知的財産権）</h5>
                        本サービスによって提供される商品写真その他のコンテンツ（以下「コンテンツ」といいます）の著作権又はその他の知的所有権は,当社及びコンテンツ提供者などの正当な権利者に帰属し,ユーザーは,これらを無断で複製,転載,改変,その他の二次利用をすることはできません。<br>
                        <br>

                        <h5>第6条（禁止事項）</h5>
                        ユーザーは，本サービスの利用にあたり，以下の行為をしてはならないものとします。<br>
                        &emsp;1.法令または公序良俗に違反する行為<br>
                        &emsp;2.犯罪行為に関連する行為<br>
                        &emsp;3.本サービスに含まれる著作権，商標権その他の知的財産権を侵害する行為<br>
                        &emsp;4.当社のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為<br>
                        &emsp;5.本サービスによって得られた情報を商業的に利用する行為<br>
                        &emsp;6.当社のサービスの運営を妨害するおそれのある行為<br>
                        &emsp;7.不正アクセスをし，またはこれを試みる行為<br>
                        &emsp;8.他のユーザーに関する個人情報等を収集または蓄積する行為<br>
                        &emsp;9.他のユーザーに成りすます行為<br>
                        &emsp;10.当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為<br>
                        &emsp;11.その他，当社が不適切と判断する行為<br>
                        <br>

                        <h5>第7条（本サービスの提供の停止等）</h5>
                        &emsp;1.当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。<br>
                        &emsp;&emsp;1.本サービスにかかるコンピュータシステムの保守点検または更新を行う場合<br>
                        &emsp;&emsp;2.地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合<br>
                        &emsp;&emsp;3.コンピュータまたは通信回線等が事故により停止した場合<br>
                        &emsp;&emsp;4.その他，当社が本サービスの提供が困難と判断した場合<br>
                        &emsp;2.当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害について，理由を問わず一切の責任を負わないものとします。<br>
                        <br>

                        <h5>第8条（利用制限および登録抹消）</h5>
                        &emsp;1.当社は，以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。<br>
                        &emsp;&emsp;1.本規約のいずれかの条項に違反した場合<br>
                        &emsp;&emsp;2.登録事項に虚偽の事実があることが判明した場合<br>
                        &emsp;&emsp;3.決済手段として当該ユーザーが届け出たクレジットカードが利用停止となった場合<br>
                        &emsp;&emsp;4.料金等の支払債務の不履行があった場合<br>
                        &emsp;&emsp;5.当社からの連絡に対し，一定期間返答がない場合<br>
                        &emsp;&emsp;6.本サービスについて，最終の利用から一定期間利用がない場合<br>
                        &emsp;&emsp;7.その他，当社が本サービスの利用を適当でないと判断した場合<br>
                        &emsp;2.当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。<br>
                        <br>

                        <h5>第9条（退会）</h5>
                        ユーザーは，所定の退会手続により，本サービスから退会できるものとします。<br>
                        <br>

                        <h5>第10条（保証の否認および免責事項）</h5>
                        &emsp;1.当社は,本サービスに事実上または法律上の瑕疵（安全性,信頼性,正確性,完全性,有効性,特定の目的への適合性,セキュリティなどに関する欠陥,エラーやバグ,権利侵害などを含みます。）がないことを保証するものではありません。<br>
                        &emsp;2.当社は,本サービスによってユーザーに生じたあらゆる損害について,一切の責任を負いません。ただし,本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合,この免責規定は適用されませんが,この場合であっても,当社は,当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し,または予見し得た場合を含みます。）について一切の責任を負いません。<br>
                        &emsp;3.当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。<br>
                        <br>

                        <h5>第11条（サービス内容の変更等）</h5>
                        当社は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。<br>
                        <br>

                        <h5>第12条（利用規約の変更）</h5>
                        当社は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。<br>
                        <br>

                        <h5>第13条（個人情報の取扱い）</h5>
                        当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。<br>
                        <br>

                        <h5> 第14条（通知または連絡）</h5>
                        ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。当社は,ユーザーから,当社が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。<br>
                        <br>

                        <h5>第15条（権利義務の譲渡の禁止）</h5>
                        ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。<br>
                        <br>

                        <h5>第16条（準拠法・裁判管轄）</h5>
                        &emsp;本規約の解釈にあたっては，日本法を準拠法とします。なお，本サービスに関しては，国際物品売買契約に関する国際連合条約の適用を排除するものとします。<br>
                        &emsp;本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄裁判所とします。<br>
                        <span style="display:flex; justify-content:end">以上</span>
                    </p>
                </div>
                <label><input type="checkbox" name="agree" id="agree" value="agree" onchange="Change()" style="margin-left:300px">本規約に同意する</label><br>
                <input type="submit" name="submit-btn" value="確認画面へ" id="submit-btn" style="margin-left:330px" disabled>
            </form>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>

</body>