@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Let's Camp!";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css">
</head>



<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>



    <div class="main">
        <h2>テント2</h2>
        <img src="~/image/テント2.jpg" alt="" width="150" height="150" />
        <p>1人用</p>
        <p> サイズ(約):フライW360xD190xH110cm・インナーW190xD85xH100cm・収納時W47xD24xH24cm</p>
        <p>材質:フライ/コットン混紡生地(ポリエステル65%・綿35%)・インナー/ポリエステルメッシュ・フロア/ポリエステル・フレーム/アルミ合金</p>
        <p>重量(約):5.2kg</p>
        <p>組立式</p>
        <p>付属品:ペグx18、ロープx6（フタマタロープ×2、約2mmロープ×2、約1mmロープ×2）、エンドキャップx2、収納ケースx1</p>

        @using (Html.BeginForm())
        {
            <form>
                <input type="hidden" name="ITM" value="商品番号">
                色：
                <select name="VAR1">
                    <option value="レッド">レッド</option>
                    <option value="ブルー">ブルー</option>
                    <option value="グリーン">グリーン</option>
                    <option value="ピンク">ピンク</option>
                </select>
                個数
                <select name="VAR2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <input type="submit" value="カゴへ">
            </form>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>

</body>