@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
   
}
<!-- コンテンツ ここから -->
<h2>ランタン</h2>

<dl class="dl-list-01">
    <!--商品情報-->
    <dt><a href="#"><img src="~/image/lantern/アンティークLEDランタン.jpg"alt="" width="150" height="150" /></a></dt>
    <dd>
        <p>ランタン</p>
    </dd>
    <form method="post" action="https://ドメイン/CART/cart.php">
        <input type="hidden" name="ITM" value="商品番号">
        色：
        <select name="VAR1">
            <option value="レッド">レッド</option>
            <option value="ブルー">ブルー</option>
            <option value="グリーン">グリーン</option>
            <option value="ピンク">ピンク</option>
        </select>
        個数
        <select name="VAR2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit" value="カゴへ">
    </form>

    <dd>
        <p>基本仕様】調色範囲：2,200K ～ 6,500K（色温度調整可能）充電時間：7時間以上 連続使用時間：8時間～75時間 作動温度：-20℃～60℃ 作動湿度：95%以下 バッテリー容量：5000mAh</p>
        <p>【製品材質】ABS、スチール、竹集成材 　温かみのある竹を使用しているためキャンプサイトの雰囲気を上げることができます。</p>
        <p>【使用シーン】キャンプだけではなく、自宅でも使いやすいLEDランタン</p>
        <p>【PSE非該当商品】当製品はPSEの対象外の仕様のためPSEマーク等は取得しておりません。</p>
        <p>【メーカー30日保証】万が一不良が発生した場合でも、購入日から30日以内であれば返品可能です</p>
    </dd>

</dl>


