@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Let's Camp!";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css">
</head>



<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>



    <div class="main">
        <p>ホームページ</p>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>



</body>

}
<!-- コンテンツ ここから -->
<h2>ポールランタンハンガー2</h2>

<dl class="dl-list-01">
    <!--商品情報-->
    <dt><a href="#"><img src="~/image/lantern/ポールランタンハンガー2.jpg" alt="" width="150" height="150" /></a></dt>
    <dd>
        <p>ポールランタンハンガー2</p>
    </dd>
    <form method="post" action="https://ドメイン/CART/cart.php">
        <input type="hidden" name="ITM" value="商品番号">
        色：
        <select name="VAR1">
            <option value="レッド">レッド</option>
            <option value="ブルー">ブルー</option>
            <option value="グリーン">グリーン</option>
            <option value="ピンク">ピンク</option>
        </select>
        個数
        <select name="VAR2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit" value="カゴへ">
    </form>

    <dd>
        <p> ランタンスタンドの全長は151cm、地釘を除くと長さは140cm、クランプは6.5cmで、5cm以内(5cm含む)のテーブルもクランプできます。ランタンスタンドは屋内の飾り物として使用でき、屋外のキャンプ、バーベキュー、公園、中庭、夜釣りなどにも使用できます。</p>
        <p>黒色で、高級感があり、ファクションです。ポールの直径は14mm、厚さは1.8mmで、接続部はスパイラル構造で接続がより緊密にするように設計されています。アルミ合金製ランタンポールは耐食性に優れています。風雨を恐れなく、アウトドア活動やキャンプに最適です。</p>
        <p>二つフックが付いているので、バランスがよくなります。ポールは別々に取り出しますので、必要に応じて高さを調整できます。ランプ、バックパック、アウトドア用キッチン用品などを掛けます。ランプホルダーは屋外での使用はもちろん、室内の照明用飾り物にもお使いいただけます。 キャンプ、バーベキュー、パーティー、釣り、中庭、公園、その他の場所に大活躍です。</p>
        <p>調整可能なクランプとペグがついています。ランタンスタンドは、テーブルの上で使用することも、地面に釘付けにすることもできます。ライトスタンドを厚さが50ｍｍ以内のテーブルまたは木の枝に固定するだけで使用可能になります。ペグを地面に押し込み、ライトスタンドを組み立てて使用することもできます。 いつでもどこでもご家族やご友人と楽しく明るい夜をお過ごしください。</p>
        <p>長さ約40cmの収納袋が付き、ランタンスタンドがカバンに収納できます。重量408gだけで、軽量で、持ち運びやすいです。ハイキングの途中ににバッグの横に差して負担なし持っていきます。</p>
    </dd>

</dl>

