@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Let's Camp!";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css">
</head>



<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>



    <div class="main">
        <p>ホームページ</p>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>



</body>

}
<!-- コンテンツ ここから -->
<h2>折り畳み式汎用チェア</h2>

<dl class="dl-list-01">
    <!--商品情報-->
    <dt><a href="#"><img src="~/image/chair/chair1.jpg" alt="" width="150" height="150" /></a></dt>
    <dd>
        <p>折り畳み式の椅子</p>
    </dd>
    <form method="post" action="https://ドメイン/CART/cart.php">
        <input type="hidden" name="ITM" value="商品番号">
        色：
        <select name="VAR1">
            <option value="レッド">レッド</option>
            <option value="ブルー">ブルー</option>
            <option value="グリーン">グリーン</option>
            <option value="ピンク">ピンク</option>
        </select>
        個数
        <select name="VAR2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit" value="カゴへ">
    </form>

    <dd>
        <p>2000年以来、Desertfoxは、プロスポーツ＆アウトドア 用品の製造と開発に焦点を当てています。 Desertfoxは、プロスポーツ＆アウトドア 用品の世界的なサプライヤおよびプロバイダです。 20年の業界経験と優れた品質で、 Desertfoxは世界で注目に値する評判を確立しました。</p>

        <p>製品：【折りたたみチェア/ テーブル/寝袋/トランポリン/キャリーワゴン】</p>

        <p>【ダンベル/マルチシットアップベンチ/懸垂マシン】</p>

        <p>◆自主開発の設計◆</p>

        <p>◆累計販売数量30万突破◆</p>

        <p>DesertFox アウトドアチェア が選ばれる理由</p>

        <p>1. 【独自開発】800Dポリエステルを採用した座面とメッシュの設計、高強度で変形にくいです。<p>

        <p>2.【アマゾンのおすすめ記事】に「アウトドチェアのおすすめ人気商品」から数回紹介いただきます。</p>

        <p>3 【My best】のアウトドアチェアおすすめ情報サービに「【2021年】アウトドアチェアのおすすめ人気ランキング」から紹介いただきます。</p>

        <p>4. 【厚い金属素材】より安定して耐久性があります。</p>

        <p> 5. 【圧倒的なコスト】DesertFox のウトドアチェアは無駄な流通網を通さず工場との直取引によって圧倒的なコストパフォーマンスを実現。</p>

        <p> 6. 【生産工場は世界標準規格】整理整頓が行き届いた工場は、世界標準規格に則った管理です。</p>
    </dd>

</dl>

