@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- コンテンツ ここから -->
<h2>簡単設置型チェア</h2>

<dl class="dl-list-01">
    <!--商品情報-->
    <dt><a href="#"><img src="~/image/chair/chair3.jpg" alt="" width="150" height="150" /></a></dt>
    <dd>
        <p>簡単設置型チェア</p>
    </dd>
    <form method="post" action="https://ドメイン/CART/cart.php">
        <input type="hidden" name="ITM" value="商品番号">
        色：
        <select name="VAR1">
            <option value="レッド">レッド</option>
            <option value="ブルー">ブルー</option>
            <option value="グリーン">グリーン</option>
            <option value="ピンク">ピンク</option>
        </select>
        個数
        <select name="VAR2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit" value="カゴへ">
    </form>

    <dd>
        <p>HOMFUL皓風会社について：</p>
        <p>HOMFUL皓風、アウトドアライフの提唱者は、家庭のためのドライブキャンプのアウトドア装備を提供しています。創立以来、私達と密接な関係にある環境と周辺の自然を尊重することを目標にして、ずっと“自然の中から来て、自然に帰ります”というブランドの核心を受けて、家庭と自然の緊密な連絡を提唱して、アウトドアの生活空間と楽しみの生活様式を作ります。</p>

        <p>純粋な風、暖かな家。</p>

        <p>高品質で優れている。</p>

        <p>材料が厚い。</p>

        <p>堅固で耐摩耗性がある。</p>

        <p>楽に収納する</p>
    </dd>

</dl>

