@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Let's Camp!";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css">
</head>



<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>



    <div class="main">
        <p>ホームページ</p>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>



</body>
}
<!-- コンテンツ ここから -->
<h2>2マルチパネルランタン</h2>

<dl class="dl-list-01">
    <!--商品情報-->
    <dt><a href="#"><img src="~/image/lantern/2マルチパネルランタン.jpg" alt="" width="150" height="150" /></a></dt>
    <dd>
        <p>2マルチパネルランタン</p>
    </dd>
    <form method="post" action="https://ドメイン/CART/cart.php">
        <input type="hidden" name="ITM" value="商品番号">
        色：
        <select name="VAR1">
            <option value="レッド">レッド</option>
            <option value="ブルー">ブルー</option>
            <option value="グリーン">グリーン</option>
            <option value="ピンク">ピンク</option>
        </select>
        個数
        <select name="VAR2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit" value="カゴへ">
    </form>

    <dd>
        <p>【使用サイズ＆品質保証】約サイズ：縦（本体部190cm+頭部30cm）*横（75cm）収納時サイズ：約 35×20cm　重さ：約1.65kg　耐寒範囲：-5℃ ～ 15℃ 最低使用温度：-5℃・快適温度-5℃-15℃です、365日品質保証のため品質の不良あれば無料交換できるので、ご安心ください</p>
        <p>【寝心地良い素材】表地は防滴・撥水に優れる210Tポリエステル生地を使用、裏地は肌触りに良いポリエステル・タフタを採用、中綿は防寒性が優れて、湿気に強い高品質中空綿を100％採用して、最大限度体の暖かさを保温し、結露や悪天候下での使用もできます。内生地は柔らかい繊維素材で質感がよく、肌触りと寝心地がよいです</p>
        <p>【連結可能】2つあれば連結することで特大寝袋に変身！軽量でかわいい収納バッグ付きで持ち運びも楽々。連結方法：1、袋状から広げます 2、2つのファスナーを連結！3、ファスナーを閉じれば完成！※連結には違う色の商品を2つご購入下さい、ファスナー開け口が右側にある商品とファスナー開け口が左側にある商品を連結するしかないという意味です</p>
        <p>【丸洗い可能】：マミー、ダウン型でなくて中空綿100％の中綿生地なので、丸洗い可能です。旅行に最適なキャリーバッグ付き。ストラップを利用して袋に圧縮して保存でき、収納・持ち運びも簡単。撥水加工も施されているので、結露による水濡れなどの心配も必要ありません</p>
        <p>【多用途】キャンプ、登山、アウトドア、地震防災、テント泊、旅行、花火大会、災害時の避難、会社残業、車中泊　自宅昼寝での敷き布団、掛け布団代わり、来客など様々なシーンで大活躍です</p>
    </dd>

</dl>